.heart-part {
    width: 80vw;
    margin: 0 auto;
}

header {
    width: auto;
}

#menu {
    position: fixed;
    z-index: 999;
    /* min-width: 600px;
    width:expression_r(document.body.clientWidth < 1000 ? "1000px": "auto" ); */
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.92);
    /* border-bottom: 1px solid rgb(220, 220, 220); */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    float: right;
}

li {
    margin-top: 10px;
    margin-left: 10vw;
    float: left;
}

li :active {
    color: rgb(255, 255, 255);
}

li :hover {
    border-bottom: 4px solid rgb(70, 70, 70);
}

li>a {
    text-decoration: none;
    color: rgb(214, 214, 214);
    font-weight: bold;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    text-decoration: none;
    font-family: "Arial Black";
}

.logo .Jian {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    margin-right: 5px;
    color: rgb(248, 34, 34);
}

.logo .Zhang {
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(153, 153, 153);
}

body {
    margin: 0;
}

.content {
    margin-left: 10vw;
    background-color: rgba(247, 247, 247, 0.62);
    height: 150vh;
}

/* 
.content #picture img{
    width: 80vw;
    height: 30vw;
    margin-left: 10vw;
} */

/* 最下方 */
footer {
    background-color: rgb(245, 245, 247);
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .footcontent{
    width: 80vw;
    margin-left: 10vw;
    height: 200px;
}

footer .footnote{
    width: 80vw;
    margin-left: 10vw;
    height: 70px;
    border-top: 1px solid rgba(210, 215, 215);
}

footer .footnote #record {
    margin-left: 1vw;
    margin-right: 2vw;
    font-size: 12px;
    color: rgb(102, 102, 102);
    text-decoration: none;
}