.header-style {
    background-color: #000000 !important;
    /* padding-top: 2px; */
    border: 2px !important;
    padding: 0.1em !important;
}

.logo {
    margin-right: 40vw !important;
    color: #DADADA !important;
    font-style: oblique !important;
}

.menu-font {
    margin-right: 8vw !important;
    color: #D8D8D8 !important;
    font-size: large !important;
}



.footer-background {
    border-top: 1px dashed #D8D8D8 !important;
    width: 80vw !important;
    margin-left: 10vw !important;
}

.footnote{
    width: 80vw;
    margin-left: 10vw;
    height: 60px;
}

.footnote #record {
    margin-right: 3vw;
    font-size: 12px;
    color: rgb(102, 102, 102);
    text-decoration: none;
}
