@media screen and (max-width: 1080px) {
    .mobile-rectangle {
        width: 80vw !important;
        height: 42vw !important;
        border-bottom: 3px solid white !important;
    }
    .mobile-rectangle .mobile-font {
        width: 78vw !important;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18vw !important;
        margin-top: 6vw !important;
        text-align: center;
    }
    .mobile-rectangle .mobile-font-smaller {
        width: 78vw !important;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12vw !important;
        margin-top: 6vw !important;
        text-align: center;
    }
    .mobile-hide {
        display: none !important;
    }
    .mobile-body-content-blog {
        width: 80vw !important;
    }
    .m-right-top {
        position: absolute;
        top:0;
        right: 0;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
    .m-margin-bottom-small {
        margin-bottom: 0.5em !important;
    
    }
}