.body-content {
    height: 200vh;
    width: 80vw;
    margin-left: 10vw;
    background-color: rgb(245, 245, 247, 0.45);
}

.rectangle {
    width: 39vw;
    height: 22vw;
    display: inline-block !important;
}

.rectangle .font {
    width: 38vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9vw;
    margin-top: 2vw;
    text-align: center;
}

#split-line {
    width: 80vw;
    height: 1vh;
    border-bottom: 2px dashed #DADADA;
}