<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>小时了了</title>
        <!-- 引入css初始化文件 -->
        <link rel="stylesheet" href="./css/normalize.css"/>
        <!-- 基本不变的头尾样式 -->
        <link rel="stylesheet" href="./css/base.css"/>
        <!--引入图标-->
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    </head>
    <body>
        <!--目录放置-->
        <div id="menu">
            <a href="#" class="logo" alt="logo">
                <span class="Jian">J</span>
                <span class="Zhang">Zhang</span>
            </a>
            <nav>
                <ul class="clearfix">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">留言</a></li>
                    <li><a href="#" style="margin-right: 10vw;">关于我和博客</a></li>
                </ul>
            </nav>
        </div>

        <div class="content"><!--主体部分开始-->
            <div style="height: 40px;"></div>
    </body>
    <!--设置不规则线条跟随鼠标效果-->
    <script type="text/javascript" src="./js/canvas-nest.js"></script>
</html>