<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <title>小时了了</title>
        <!-- 引入css初始化文件 -->
        <link rel="stylesheet" href="./css/normalize.css"></link>
        <!-- 基本不变的头尾样式 -->
        <link rel="stylesheet" href="./css/base.css"></link>
        <link rel="stylesheet" href="./css/rectangle.css"></link>
        <!--引入图标-->
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"></link>
    </head>

    <body>
        <header>
            <!--需要时放置简历-->
        </header>
        <!--目录放置-->
        <div id="menu">
            <a href="#" class="logo" alt="logo">
                <span class="Jian">J</span>
                <span class="Zhang">Zhang</span>
            </a>
            <nav>
                <ul class="clearfix">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">留言</a></li>
                    <li><a href="#" style="margin-right: 10vw;">关于我和博客</a></li>
                </ul>
            </nav>
        </div>

        <div class="content"><!--主体部分开始-->
            <div style="height: 40px;"></div>
            <div class="content-1">
                <div class="rectangle-black" style="cursor:pointer;" onclick="window.open('http://www.baidu.com')">
                    <p class="font-white">@云计算</p>
                </div>
                <div class="rectangle-white" style="cursor:pointer;" onclick="window.open('http://www.mi.com')">
                    <p class="font-black">@LeetCode</p>
                </div>
            </div>
            <div class="content-2">
                <div class="rectangle-white" style="cursor:pointer;" onclick="window.open('http://www.baidu.com')">
                    <p class="font-black">@云计算</p>
                </div>
                <div class="rectangle-white" style="cursor:pointer;" onclick="window.open('http://www.mi.com')">
                    <p class="font-black">@LeetCode</p>
                </div>
            </div>
            <div id="split-line"></div>
            
        </div><!--主题部分结束-->
        <footer>
            <div class="footcontent">
            </div>
            <div class="footnote">
                <a id="record" href="http://www.beian.miit.gov.cn/"  target="_blank";>冀ICP备19036708号</a>                
                <a id="record" href="https://github.com/JianAZhang/website"  target="_blank";>#本网站由本人手动搭建，源码详情请点击本链接</a>
            </div>
        </footer>
    </body>
    <!--设置不规则线条跟随鼠标效果-->
    <script type="text/javascript" src="./js/canvas-nest.js"></script>
</html>