<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小时了了</title>
    <!-- 引入css初始化文件 -->
    <link rel="stylesheet" href="./css/normalize.css"></link>
    <!-- 基本不变的头尾样式 -->
    <link rel="stylesheet" href="./css/base.css"></link>
    <link rel="stylesheet" href="./css/rectangle.css"></link>
    <!--引入图标-->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"></link>
    <link rel="stylesheet" href="./semantic/semantic.min.css"></link>    
</head>
<body>
    <!--Menu begin-->
    <header class="ui attached segment header-style">
        <div class="ui menu" style=" border: 0px !important; background-color: #000000">
            <h2 class="ui header item logo">JianZhang</h2>
            <a href="#" class="item menu-font"><i class="home icon"></i>首页</a>
            <a href="#" class="item menu-font"><i class="edit icon"></i>留言</a>
            <a href="#" class="item menu-font"><i class="id badge icon"></i>关于我</a>
        </div>
    </header>
    <!--Menu end-->

    <!--Body begin-->
    <div class="body-content">
        <div><!--第一排两个矩形-->
            <div class="rectangle" style="background-color: rgb(199, 8, 8); cursor:pointer;" onclick="window.open('http://mi.com')">
                <p class="font" style="color: aliceblue;">@博客</p>
            </div>
            <div class="rectangle" style="background-color: rgb(247, 247, 247); cursor:pointer;" onclick="window.open('http://mi.com')">
                <p class="font" style="color: rgb(15, 15, 15);">@算法</p>
            </div>
        </div>
        <div><!--第二排两个矩形-->
            <div class="rectangle" style="background-color: rgb(247, 247, 247); cursor:pointer;" onclick="window.open('http://mi.com')">
                <p class="font" style="color: rgb(15, 15, 15); font-size: 6vw; margin-top: 5vw;">@LeetCode</p>
            </div>
            <div class="rectangle" style="background-color: rgb(247, 247, 247); cursor:pointer;" onclick="window.open('http://mi.com')">
                <p class="font" style="color: rgb(15, 15, 15);">@云计算</p>
            </div>
        </div>
        <div id="split-line"></div>
    </div>
    <!--Body end-->

    <!--Footer begin-->
    <footer class="ui vertical segment footer-background">
        <div class="ui container">
            <div class="ui grid">
                <div class="six wide column">
                    <p style="font-weight: bold;">最新博客</p>
                </div>
                <div class="six wide column">
                    <p style="font-weight: bold;">博客分类</p>
                </div>
                <div class="four wide column">
                    <img src="./img/wechat.jpg" alt="" style="width: 120px;">
                </div>
            </div>
        </div>
    </footer>
    <div class="footnote">
        <div style="margin-bottom: 15px;"></div>
        <img src="./img/beian.png" style="margin-right: 1vw;"/>
        <a id="record" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13082402000029" target="_blank">冀公网安备 13082402000029号</a>
        <a id="record" href="http://www.beian.miit.gov.cn/"  target="_blank";>冀ICP备19036708号</a>
        <a id="record" href="https://github.com/JianAZhang/website"  target="_blank";>Copyright © 2019-2023.  Powered By Jian Zhang</a>
    </div>
    <!--Footer end-->

    
    
</body>
<script src="./semantic/semantic.min.js"></script>
<script src="./js/jquery-3.4.1.min.js"></script>
<script src="./js/canvas-nest.js"></script>
</html>