<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <title>小时了了</title>
        <!-- 引入css初始化文件 -->
        <link rel="stylesheet" href="./css/normalize.css"></link>
        <!-- 基本不变的头尾样式 -->
        <link rel="stylesheet" href="./css/base.css"></link>
        <!--引入图标-->
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"></link>
    </head>

    <body>
        <header>
            <!--需要时放置简历-->
        </header>
        <!--目录放置-->
        <div id="contents">
            <a href="#" class="logo" alt="logo">
                <span class="Jian">Jian</span>
                <span class="Zhang">Zhang</span>
            </a>
            <nav>
                <ul class="clearfix">
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">ABOUT</a></li>
                </ul>
            </nav>
        </div>

        <div style="height: 120vh;">
        </div>

        <footer>
            <div class="footcontent">
                ss
            </div>
            <div class="footnote">
                <a id="record" href="#"  target="_blank";>本网站由本人手动搭建，源码详情请点击本链接</a>
                <a id="record" href="http://www.beian.miit.gov.cn/"  target="_blank";>冀ICP备19036708号</a>
            </div>
        </footer>
    </body>
    <!--设置不规则线条跟随鼠标效果-->
    <script type="text/javascript" src="./js/canvas-nest.js"></script>
</html>